@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
:root {
    --principal-color-dark: #003949;
    --principal-color-middle: #057797;
    --principal-color-light: #7bd5ee;
    --letter-color: #d7dadb;
    --button-color: #555252;
    --hover-color: #807e7e;
    --middle-weight: 600;
    --bg-color: #d0dadd;
    --border-color: rgb(3, 43, 95);
    --principal-font: krub;
    --secondary-font: playwrite AU SA;
    --box-color: #9fc8e0;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--principal-font);
}

h1 {
    color: var(--principal-color);
}

body {
    width: 100%;
    height: 100dvh;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 20% 0%;
}

header {
    width: 100%;
}

/*  ===================== navbar box ==================== */
nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
    background: linear-gradient(to right, var(--principal-color-light), var(--principal-color-middle));
    box-shadow: 5px -5px 6px 6px var(--principal-color-dark);
}
/* ================== Logo + slogan ================= */

.logoimg {
    width: 150px;
    height: 100px;
}

.slogan {
    display: flex;
    align-items: last baseline;
    justify-content: center;
    font-weight: var(--middle-weight);
    font-family: var(--secondary-font);
    transform-origin: bottom left;
    font-size: 24px;
}

/*  ================= Navbar items ==================== */

#nav-left, #nav-right {
    display: flex;
    flex-direction: row;
    gap: 5px;
    backdrop-filter: blur(30px);
}
.nav-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-left {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--button-color);
    padding: 3px 4px;
    margin-right: 5px;
    box-shadow: 2px -2px 2px 2px var(--principal-color-dark);
}

#nav-left a {
    color: var(--letter-color);
    text-decoration: none;
}

#nav-left:hover {
    background-color: var(--hover-color); 
    transform: scale(1.1);
}

.nav-profil,
.nav-pageprincipale,
.nav-listecat,
.nav-logoff {
    border-radius: 10px;
    background-color: var(--button-color);
    padding: 3px 4px;
    box-shadow: 2px -2px 2px 2px var(--principal-color-dark);
    margin-left: 10px;
}

.nav-profil a,
.nav-pageprincipale a,
.nav-listecat a,
.nav-logoff a {
    text-decoration: none;
    color: var(--letter-color)
}

.nav-profil:hover,
.nav-pageprincipale:hover,
.nav-listecat:hover,
.nav-logoff:hover {
    background-color: var(--hover-color); 
    transform: scale(1.1);
}

/* ========TABLE LISTE DES CATEGORIS + HOT TOPICS============ */

.main-category-container {
    padding: 10px;
    max-width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.main-category-container h2 {
    text-align: left;
    color: var(--principal-color-dark);
    margin-bottom: 15px;
    margin-top: 15px;
}

.forum-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
/* head */
.forum-table thead tr {
    background-color: var(--principal-color-dark);
    color: #fff;
    text-align: left;
}
.forum-table td {
    border-right: 1px solid var(--principal-color-middle);
}

.forum-table td:last-child {
    border-right: none;
}

.forum-table thead th {
    padding: 10px;
}

/* Corps */
.forum-table tbody tr {
    border-bottom: 1px solid var(--principal-color-middle);
}

.forum-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.forum-table tbody td {
    padding: 10px;
    vertical-align: middle;
}

.forum-table a {
    text-decoration: none;
    color: var(--principal-color-dark);
}
