@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
:root {
    --principal-color-dark: #003949;
    --principal-color-middle: #057797;
    --principal-color-light: #7bd5ee;
    --letter-color: #d7dadb;
    --info-letter-color : #01161d;
    --button-color: #555252;
    --hover-color: #807e7e;
    --middle-weight: 600;
    --bg-color: #d0dadd;
    --border-color: rgb(3, 43, 95);
    --principal-font: krub;
    --secondary-font: playwrite AU SA;
    --box-color: #9fc8e0;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--principal-font);
}

h1 {
    color: var(--principal-color-middle);
    font-style: italic;
}

body {
    width: 100%;
    height: 100dvh;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 20% 0%;
}

header {
    width: 100%;
}

/*  ===================== navbar box ==================== */
nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
    background: linear-gradient(to right, var(--principal-color-light), var(--principal-color-middle));
    box-shadow: 5px -5px 6px 6px var(--principal-color-dark);
}
/* ================== Logo + slogan ================= */

.logoimg {
    width: 150px;
    height: 100px;
}

.slogan {
    display: flex;
    align-items: last baseline;
    justify-content: center;
    font-weight: var(--middle-weight);
    font-family: var(--secondary-font);
    transform-origin: bottom left;
    font-size: 24px;
}

/*  ================= Navbar items ==================== */

#nav-left, #nav-right {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.nav-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-left {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--button-color);
    padding: 3px 4px;
    margin-right: 5px;
    box-shadow: 2px -2px 2px 2px var(--principal-color-dark);
}

#nav-left a {
    color: var(--letter-color);
    text-decoration: none;
}

#nav-left:hover {
    background-color: var(--hover-color); 
    transform: scale(1.1);
}

.nav-profil,
.nav-pageprincipale,
.nav-listecat,
.nav-logoff {
    border-radius: 10px;
    background-color: var(--button-color);
    padding: 3px 4px;
    box-shadow: 2px -2px 2px 2px var(--principal-color-dark);
    margin-left: 10px;
}

.nav-profil a,
.nav-pageprincipale a,
.nav-listecat a,
.nav-logoff a {
    text-decoration: none;
    color: var(--letter-color)
}

.nav-profil:hover,
.nav-pageprincipale:hover,
.nav-listecat:hover,
.nav-logoff:hover {
    background-color: var(--hover-color); 
    transform: scale(1.1);
}

/* ========TABLE LISTE DES CATEGORIS + HOT TOPICS============ */

.main-category-container {
    padding: 10px;
    max-width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.main-category-container h2 {
    text-align: left;
    color: var(--principal-color-dark);
    margin-bottom: 15px;
    margin-top: 15px;
}

.forum-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
/* head */
.forum-table thead tr {
    background-color: var(--principal-color-dark);
    color: #fff;
    text-align: left;
}
.forum-table td {
    border-right: 1px solid #9b9696;
}

.forum-table td:last-child {
    border-right: none;
}

.forum-table thead th {
    padding: 10px;
}

/* Corps */
.forum-table tbody tr {
    border-bottom: 1px solid #9b9696;
}

.forum-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.forum-table tbody td {
    padding: 20px 5px;
    vertical-align: middle;
}

.forum-table a {
    text-decoration: none;
    color: var(--principal-color-dark);
}

/* information d'emplacement + bouton retour */
.emplacement-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

/* ========== list topics */
/* Container */
.list-box {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    gap: 1px; 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

/* Head info */
.headinfo {
    display: contents; /* Permet aux enfants de s'intégrer directement dans la grille */
    font-weight: bold;
    background-color: #ddd;
    border-bottom: 2px solid var(--principal-color-dark);
    color: var(--info-letter-color);
}

/* Lignes des topics */
.list-item-topic {
    display: contents; /* Les enfants s'intègrent dans les colonnes */
    padding: 10px 0;
}

/* Alternance de couleurs pour les lignes */
/* .list-item-topic.even {
    background-color: #fff;
}
.list-item-topic.odd {
    background-color: #f2f2f2;
} */

/* Colonnes */
.list-item-topic > div, .headinfo > p {
    padding: 10px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid var(--principal-color-middle);
}

/* changer le text aligne (l 233) de center a left */
.topic-title {
    text-align: left !important;  
}

.topic-title a {
    text-decoration: none;
    color: var(--info-letter-color)
}

/* Dernière colonne sans bordure */
.list-item-topic > div:last-child, .headinfo > p:last-child {
    border-right: none;
}

/* cadenas */
.locked-topic i, .boutons-topic a i {
    font-size: 1.2em;
    color: #555;
}

/* Boutons action (cadenas + trash)  */
.topic-action a {
    margin: 0 5px;
    color: var(--principal-color-middle);
    text-decoration: none;
}
.boutons-topic a:hover {
    color: #0056b3;
}


/* ============LIST POSTS =================== */
/* Container */
.list-box-post {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 1px; 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

/* Lignes des topics */
.list-item-post {
    display: contents; /* Les enfants s'intègrent dans les colonnes */
    padding: 10px 0;
}

/* Alternance de couleurs pour les lignes */
/* .list-item-topic.even {
    background-color: #fff;
}
.list-item-topic.odd {
    background-color: #f2f2f2;
} */

/* Colonnes */
.list-item-post > div, .headinfo > p {
    padding: 10px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid var(--principal-color-middle);
    padding: 25px 0;

}

/* changer le text aligne (l 233) de center a left */
.topic-title {
    text-align: left !important;  
}


/* Dernière colonne sans bordure */
.list-item-post > div:last-child, .headinfo > p:last-child {
    border-right: none;
}

/* =================FORMS================ */
.form-style {
    width: 95%;
    margin: 20px 0 0 0;
    background: var(--box-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-info label {
    font-weight: var(--middle-weight);
    color: var(--info-letter-color);
}

.form-info textarea {
    width: 90%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    font-family: var(--principal-font);
    background: var(--bg-color);
    color: var(--info-letter-color);
    resize: none;
    transition: box-shadow 0.3s ease-in-out;
}

.form-info textarea:focus {
    outline: none;
    box-shadow: 0 0 5px var(--principal-color-middle);
    border-color: var(--principal-color-middle);
}

.form-info input[type="submit"] {
    background-color: var(--principal-color-middle);
    color: var(--letter-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: var(--principal-font);
    font-weight: var(--middle-weight);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.form-info input[type="submit"]:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

/* ==========PROFIL============= */
.profile-heading {
    color: var(--principal-color-dark);
    font-family: var(--secondary-font);
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

.profile {
    background-color: var(--box-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile p {
    font-size: 1.1rem;
    margin: 10px 0;
    color: var(--info-letter-color);
}

.profile-title {
    font-weight: var(--middle-weight);
    color: var(--principal-color-dark);
}

.bouton-profile {
    margin-top: 20px;
    text-align: center;
}

.bouton-profile a {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--letter-color);
    background-color: var(--button-color);
    border-radius: 5px;
    font-family: var(--principal-font);
    font-weight: var(--middle-weight);
    transition: background-color 0.3s, transform 0.2s;
}

.bouton-profile a:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.alert-delete {
    background-color: #c0392b;
    color: #fff;
}

.alert-delete:hover {
    background-color: #e74c3c;
}

.edit-profile {
    background-color: var(--principal-color-middle);
}

.edit-profile:hover {
    background-color: var(--principal-color-dark);
}


/* ============= users================= */

.users-heading {
    color: var(--principal-color-dark);
    font-family: var(--secondary-font);
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

.users-info {
    max-width: 800px;
    margin: 20px auto;
    background-color: var(--box-color);
    padding: 20px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th, .users-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    color: var(--info-letter-color);
}

.users-table th {
    background-color: var(--principal-color-dark);
    color: var(--letter-color);
    font-weight: var(--middle-weight);
    font-size: 1.1rem;
}

.users-table tbody tr:nth-child(even) {
    background-color: var(--principal-color-light);
}

.users-table tbody tr:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.delete-link {
    color: #c0392b;
    text-decoration: none;
    font-weight: var(--middle-weight);
    transition: color 0.3s, transform 0.2s;
}

.delete-link:hover {
    color: #e74c3c;
    transform: scale(1.1);
}

/* ==============FOOTER================ */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: var(--box-color);
}

/* LOGIN FORM */

.login-heading {
    color: var(--principal-color-dark);
    font-family: var(--secondary-font);
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--box-color);
    padding: 20px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    font-weight: var(--middle-weight);
    color: var(--info-letter-color);
    margin-bottom: 5px;
}

.form-input {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-family: var(--principal-font);
    background: white;
    color: var(--info-letter-color);
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--principal-color-middle);
    border-color: var(--principal-color-middle);
}

.form-button {
    background-color: var(--principal-color-middle);
    color: var(--letter-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--principal-font);
    font-weight: var(--middle-weight);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.form-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

/* register */

.register-heading {
    color: var(--principal-color-dark);
    font-family: var(--secondary-font);
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

.register-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--box-color);
    padding: 20px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-register {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    font-weight: var(--middle-weight);
    color: var(--info-letter-color);
    margin-bottom: 5px;
}



/* HOME */

.home-container {
    padding: 40px 20px;
    text-align: center;
}

.welcome-section {
    margin-bottom: 40px;
    background-color: var(--box-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.welcome-section h1 {
    color: var(--principal-color-dark);
    font-family: var(--secondary-font);
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-primary, .btn-secondary {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--middle-weight);
    margin: 10px 5px;
    display: inline-block;
}

.btn-primary {
    background-color: var(--principal-color-middle);
    color: var(--letter-color);
}

.btn-primary:hover {
    background-color: var(--hover-color);
}

.btn-secondary {
    background-color: var(--principal-color-light);
    color: var(--info-letter-color);
}

.btn-secondary:hover {
    background-color: var(--hover-color);
    color: var(--letter-color);
}

.features-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-box {
    background-color: var(--box-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    flex: 1;
    text-align: left;
}

.feature-box h2 {
    font-size: 1.5rem;
    color: var(--principal-color-dark);
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.btn-link {
    text-decoration: none;
    font-weight: var(--middle-weight);
    color: var(--principal-color-middle);
    transition: color 0.3s ease;
}

.btn-link:hover {
    color: var(--hover-color);
}


/* PPALETTE DE COULEURS */
.settings {
    position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    z-index: 10;
}

/* Icône des paramètres */
#settings-icon {
    font-size: 1.5rem;
    color: var(--principal-color-dark);
    transition: color 0.3s ease;
}

#settings-icon:hover {
    color: var(--hover-color);
}

/* Conteneur de choix des couleurs */
.color-choice {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    /* background-color: var(--box-color); */
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Options de couleurs */
.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Animation d'apparition */
.color-choice {
    animation: fadeIn 0.3s ease;
}

/* Animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 480px) {
    nav {
        display: none;
    }

    #wrapper {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }

    #wrapper {
        margin: 0;
    }
  }