@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --principal-color: #007a9c;
    --bg-color: #d0dadd;
    --border-color: rgb(3, 43, 95);
    --principal-font: krub;
    --box-color: #9fc8e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--principal-font);
}

h1 {
    color: var(--principal-color);
    text-align: center;
}

body {
    width: 100%;
    height: 100dvh;
}

.img-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.messages-flash {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
    z-index: 1000;
}
/* =========================TABLE LISTE UTILISATEURS======================== */
.users-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.users-table th, td{
    padding: 5px;
}

.users-table th{
    color: var(--principal-color);
}

.users-info a {
    border: 1px solid var(--principal-color);
    border-radius: 20px;
    padding: 1px 5px;
    background-color: var(--principal-color);
    color: white;
}

/* ========================SETTINGS ========================== */
.settings {
    position: relative;
    cursor: pointer;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.settings i {
    padding: 5px 10px;
    border: 2px solid var(--principal-color);
    border-radius: 30px; 
    background-color: var(--principal-color); 
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.settings i:hover {
    background-color: white;
    color: var(--principal-color);
} 

#color-choice {
    display: none;
    position: absolute;
    border-radius: 30px;
    top: 30px;
    left: 5px;
    width: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
 
.color {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}
 
#settings-icon:hover {
    color: #007bff;
}

/* ==================NAVBAR ==================*/

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mainpage {
    display: flex;
    flex-grow: 1;
}

#nav-left {
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    height: 50%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#nav-right {
    border-right: 1px solid #ddd;
}

#nav-left div, #nav-right div {
    display: flex;
    flex-direction: column;
}

#nav-left a, #nav-right a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

#nav-left a:hover, #nav-right a:hover {
    background-color: #e9e9e9;
}

#nav-left a span, #nav-right a span {
    margin-right: 10px;
    font-size: 20px;
    color: var(--principal-color);
}

#nav-left i {
    margin-right: 10px;
    font-size: 20px;
    color: var(--principal-color);
}


#forum {
    flex-grow: 1;
    padding: 20px;
}

#forum h1 {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

.nav-responsive {
    display: none;
}


/* =========================LISTE DES CATEGORIES + HOT TOPICS================= */

.main-category-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.category-container {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-container h2 {
    text-align: center;
    color: var(--principal-color);
}

.category-box {
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
    min-width: 300px;
    border: solid 1px var(--principal-color);
    box-shadow: 0 0 20px rgba(0, 122, 156, 0.5);
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--border-color);
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--bg-color);
}

.category-box a:hover {
    color: red;
}

/* =================== LISTE DES TOPICS / POSTS========================== */
.title {
    font-weight: 700;
}

.list-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--box-color);
    padding: 5px;
}

.list-item {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    border: solid 1px var(--border-color);
    margin: 0 2%;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: var(--bg-color);

}

.list-item-topic {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    align-items: left;
    justify-content: space-between;
    border: solid 1px var(--border-color);
    margin: 0 2%;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--bg-color);
    position: relative;

}

.list-item-topic.even, .list-item.even {
    background-color: #c4c4c4;
}
.list-item-topic.odd, .list-item.odd {
    background-color: #fff;
}
a {
    color: black;
}

.post-content {
    border-top: solid 1px black;
    padding-top: 5px;
}
.topic-info {
    flex-grow: 1;
}

.topic-info a {
    border-bottom: 1px solid black;
    display: block;
    padding-bottom: 5px;
}
.boutons-topic {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1%;
}

.locked-topic {
    position: absolute;
    top: 3%;
    left: 97%;
}

.locked-topic .fa-lock {
    color: red;
}

.locked-topic .fa-lock-open {
    color: green;
}

.lock-button a {
    padding: 5px 10px;
    border: 2px solid var(--principal-color);
    border-radius: 10px; 
    background-color: var(--principal-color); 
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.lock-button a:hover {
    background-color: white;
    color: var(--principal-color);
}

.delete-button a {
    padding: 5px 10px;
    border: 2px solid var(--principal-color);
    border-radius: 10px; 
    background-color: var(--principal-color); 
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: 2px;
}

.delete-button a:hover {
    background-color: white;
    color: var(--principal-color);
}

/* ====================FORM NOUVEAU TOPIC================================= */

.form-style {
    padding: 5px;
    border-radius: 15px;
    margin: 10px 0;
    background-color: var(--box-color);
}

.form-info {
    margin: 5px;
}

.form-info input, textarea {
    border-radius: 10px;
}

/* =========================REGISTER FORMULAIRE===================== */
.edit-forms {
    border: var(--principal-color) solid 1px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    width: max-content;
    margin: 0 auto;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-register {
    background-color: #9fc8e0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-register label {
    font-weight: bold;
    color: #007a9c; 
}

.form-register input[type="email"],
.form-register input[type="nickname"],
.form-register input[type="password"] {
    padding: 10px;
    border: 1px solid #007a9c;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.form-register input[type="email"]:focus,
.form-register input[type="nickname"]:focus,
.form-register input[type="password"]:focus {
    border-color: #007a9c;
    box-shadow: 0 0 5px rgba(0, 122, 156, 0.5);
}

.form-register input[type="submit"] {
    background-color: #007a9c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005f76;
}

/* ================PROFILE======================= */
.profile {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    width: 60%;
    margin: 20px auto; 

}

.profile p {
    margin: 10px 0;
    font-size: 20px;
    color: #303030;
    border-bottom: solid 1px black;
}

.profile-title {
    font-weight: 500; 
    color: var(--principal-color);
}

.alert-delete {
    color: red;
}

.bouton-profile {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 3px;
}



/* ==========RESPONSIVE ============ */
/* Pour les téléphones */
@media screen and (max-width: 576px) {
    #nav-left, #nav-right {
        display: none;
    }
}

/* Pour les tablettes */
@media screen and (min-width: 577px) and (max-width: 768px) {
    #nav-left, #nav-right {
        display: none;
    }
}
